
<div class="produkty">
        @for(produkt of this.products_list; track $index){
        <div class="karta">
            <div class="obraz-div"></div>
            <img class="obraz" src="{{produkt.image}}">
            <div class="tekst">
                <div class="nazwa">
                    <a class="nazwa-tekst" (click)="navigateTo(produkt.id)">{{produkt.title}}</a>
                </div>
                <div class="cena-kup">
                    {{produkt.price}} zł
                    <button class="kupuj" (click)="[addToCart(produkt), sumuj(), refresh()]" title="Dodaj do koszyka" type="submit">Dodaj do koszyka</button>
                </div>
            </div>
        </div>
        }
</div>