
<div class="produkty">
        @for(produkt of this.products_list; track $index){
        <div class="karta">
            <div class="obraz-div"></div>
            <img class="obraz" src="{{produkt.image}}">
            <div class="tekst">
                <div class="nazwa">
                    {{produkt.title}}
                </div>
                <div class="cena-kup">
                    {{produkt.price}} zł
                    <button (click)="navigateTo(produkt.id)" class="kupuj" title="Dodaj do koszyka" type="submit">Dodaj do koszyka</button>
                </div>
            </div>
        </div>
        }
</div>