<head>
    <title>Strona logowania</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="panel">
        <form [formGroup]="loginForm">
            <div class="logowanie">
            <h1>Logowanie</h1>
            </div>
            <div class="wprowadzanie">
                <input formControlName="email" id="email" type="email" placeholder="Nazwa użytkownika" required>
            </div>
            <div class="wprowadzanie">
                <input  formControlName="password" id="password" type="password" placeholder="password" required>
            </div>
            <div class="zapamietaj">
                <label><input class="check" type="checkbox">Zapamiętać dane logowania?</label>
            </div>
            <div class="ok">
                <a href="">Zapomniałem hasło</a>
            </div>
            <button (click)="logowanie()" class="zaloguj" type="submit">Zaloguj</button>
            <div class="zarejestruj">
                <a href="">Zarejestruj się</a>
            </div>
        </form>
    </div>
</body>