<head>
    <title>Strona główna</title>
</head>
<body>
    <div class="pasek">
        <div class="lewo">
            <a  title="nasz-sklep.pl" class="nazwa" href="http://localhost:4200/sklep">nasz-sklep.pl</a>
        </div>
        <div class="szukaj">
            <form class="example" action="action_page.php">
                <input type="szukaj" class="szukajO" name="q" placeholder="Szukaj">
                <button class="szukaj-przycisk" type="submit" title="Wyszukaj"><a><img class="szukaj-ico" src="./../../../assets/szukaj-ico.png"></a></button>
              </form>
        </div>
        <div class="prawo">
            <a href="http://localhost:4200/sklep"><img class="konto" alt="Twoje konto" title="Twoje konto" src="./../../../assets/konto.png"></a>
            <a href="http://localhost:4200/sklep"><img class="ulubione" alt="ulubione" title="Ulubione" src="./../../../assets/ulubione.png"></a>
            <a href="http://localhost:4200/sklep"><img class="kosz" alt="Kosz" title="Kosz" src="./../../../assets/kosz.png"></a>
        </div>
    </div>
</body>