.pasek{
    background-color: #62BFED;
    width: 100%;
    color: white;
    display: grid;
    border-radius: 40px;
    top: 4px;
    justify-content: center;
    text-align: center;
    height: 20px;
    padding: 15px;
    padding-bottom: 18px;
    grid-template-columns: 1fr 1fr 1fr;
}
.lewo{
    font-size: 20px;
    font-weight: bold;
}
.nazwa {
    text-decoration: none;
    color: white;
}
.szukajO{
    color: lightgray;
    background-color: white;
    border-radius: 15px;
    width: 80%;
    height: 25px;
    border-color: white;
    border-top: white;
    border-left: white;
    
}
.szukajO:active{
    background-color: white;
}
